<div class="container-fluid mt-3" style="padding: 0 200px;">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="">
                    <h5>{{Name}}</h5>
                </div>
                <div>
                    <div class="avatar float-left mr-4">
                        <img src="../../assets/avatar.png" class="" alt="" style="width: 100px;">
                    </div>
                    <div class="float-right">
                        <button class="btn bg-orange">Personal Details</button><br>
                        <button class="btn bg-orange mt-2">Generate Card PIN</button>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mr-4">
                <div class="card p-2 mt-1" style="width: 100%;">My View</div>
                <div class="card p-2 mt-1" style="width: 100%;">Personal Details</div>
                <div class="card p-2 mt-1" style="width: 100%;">Account Summary</div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <h4 class="text-orange">View Account Summary</h4>
            </div>
            <div class="row mt-2">
                <div class="form">
                    <label for="">I want to see my</label>
                    <select name="" id="" class="ml-3" style="display: inline-block;">
                        <option value="">Bank Account</option>
                        <option value="">Deposit Account</option>
                        <option value="">Loan Account</option>
                    </select>
                </div>
                <div class="ml-3" style="margin-top: -10px;"><button class="btn bg-orange" (click)="showBalance()">View Balance</button></div>
            </div>
            <ng-container *ngIf="IsBalanceAvailable">
                <div class="row bg-grey font-weight-bold p-2 pl-4 mt-2">
                    Total By Branch
                </div>
                <div class="row mt-2">
                    <div class="col p-0">
                        <div class="text-center border p-2 bg-grey font-weight-bold">Total Assets</div>
                        <div class="text-center border border-grey p-2"><span *ngIf="Balance.Asset && Balance.Asset != 'Loading'">&#x20B9; </span>{{Balance.Asset}}</div>
                    </div>
                    <div class="col p-0">
                        <div class="text-center border p-2 bg-grey font-weight-bold">Total Liabilities</div>
                        <div class="text-center border border-grey p-2"><span *ngIf="Balance.Liability && Balance.Liability != 'Loading'">&#x20B9; </span>{{Balance.Liability}}</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>