<div class="container-fluid">
    <div class="mt-3 plr-150">
        <img src="../../assets/icici-logo.jpg" alt="" routerLink="/">
        <div class="navbar navbar-expand float-right small" style="padding: 30px 50px 0 0;">
            <ul class="navbar-nav pointer">
                <li class="nav-item mr-1">ICICI Bank Home |</li>
                <li class="nav-item mr-1">About Us |</li>
                <li class="nav-item mr-1">Customer Care |</li>
                <li class="nav-item mr-1">find ATM/Branch |</li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-expand plr-150 text-light bg-orange">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link">Personal</a></li>
            <li class="nav-item"><a class="nav-link">Privilege</a></li>
            <li class="nav-item"><a class="nav-link">Wealth</a></li>
            <li class="nav-item"><a class="nav-link">Private</a></li>
            <li class="nav-item"><a class="nav-link">NRI</a></li>
            <li class="nav-item"><a class="nav-link">Business</a></li>
            <li class="nav-item"><a class="nav-link">SME</a></li>
            <li class="nav-item"><a class="nav-link">Corporte</a></li>
        </ul>
    </nav>
</div>