<div class="navigation-container form-inline shadow">
    <div class="m-3 ml-4 col-3">
        <img src="../../assets/icici-logo.jpg" alt="" routerLink="/">
    </div>
    <div class="mt-2" style="width: 500px;">
        <input type="text" style="width: 100%; border-radius: 50px;" placeholder="search" class="form-control shadow-sm">
    </div>
    <div class="form-inline col-4">
        <i class="fas fa-phone-alt ml-3"></i>
        <i class="fas fa-list ml-3"></i>
        <div class="ml-4">
            <img src="../../assets/avatar.png" width="75px" height="75px" alt="">
        </div>
        <span class="font-weight-bold ml-3 text-uppercase">Hi, {{DisplayName}}</span>
        <button class="btn bg-blue" style="position: absolute; right: 0;">LOGOUT</button>
    </div>    
</div>